<launch>

  <!--
    Push the left frontal button labeled as 'LB' to activate cmd_vel publishing.
    Move the left stick around to control the velocity.
   -->

  <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_joystick">
    <param name="scale_angular" value="1.5"/>
    <param name="scale_linear" value="0.5"/>
    <param name="enable_button" value="4"/>
    <param name="axis_linear" value="1"/>
    <param name="axis_angular" value="0"/>
    <remap from="teleop_joystick/cmd_vel" to="/raw_cmd_vel"/>
  </node>

  <node pkg="joy" type="joy_node" name="joystick">
      <param name="autorepeat_rate" value="4" />
  </node>
</launch>
